.pconsole, .uconsole{
    @include content_height;
    display: flex;
  
    &__box{
      width: 80%;
      max-width: 800px;
      margin:0 auto;
      padding: 70px 0;

        ul.title-box{
          display: flex;
          justify-content: space-between;
          height: 30px;

          li{
            min-width: 40px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 20px;
          }
        }

        &__table{
          height: calc( 100vh - 340px );
          overflow-y: scroll;
          
  box-shadow: 10px 15px 20px $shadow;

            ul{
                display: flex;
                margin: 10px 0;
      
                li{
                  width: 100px;
                  line-height: 100px;
                  text-align: center;
                  margin: 0 20px;
                  img{
                    width: 150px;
                    height: 150px;
                  }
                }
                .button{
                  margin: 25px 10px;
                  width: 80px;
                  font-weight: normal;
                  @include btn;
                }
                .button:hover{
                  @include btn_hover;
                }
            }
        }
    }
}