.product{
    @include content_height;
    @include content_width;
    margin: 0 auto;

    .image{
        width: 300px;
        margin: 0 auto;
        position: relative;
        img{
            width: 300px;
            margin: 50px 0;
            border: 5px solid whitesmoke;
        }
        .like{
            position: absolute;
            right: 15px;
            bottom: 60px;
            cursor: pointer;
            i{
                font-size: 1.5rem;
            }
            i.fas{
                color: red;
            }
        }
    }

    &__info{
        max-width: 500px;
        margin: 0 auto;
        .info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            &__title{
                font-weight: bold;
                font-size: 1.2rem;
            }
            &__content{
                width: 150px;
                word-wrap: break-word;

                select{
                    width: 150px;
                    height: 30px;
                    padding: 5px;
                    border: 1px solid lightgray;
                }
            }

            .button{
                width: 100%;
                @include btn;
                a{
                    color: white;
                }
            }
            .button:hover{
                @include btn_hover;
                a{
                    display: block;
                    color: black;
                }
            }
            .half{
                width: 48%;
            }
        }
    }
}