.pconsole, .uconsole{
  height: calc( 100vh - 170px );
  display: flex;
  position: relative;

  .delete{
    @include popup;

    &__close{
      &--button{
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
        margin-left: auto;
        line-height: 4rem;
        cursor: pointer;
      }
    }
    &__content{
      height: 120px;
      line-height: 120px;
    }
    &__button{
      display: flex;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid gray;
      cursor: pointer;
      .cancel{
        width: calc( 50% - 1px );
        border-right: 1px solid gray;
      }
      .commit{
        width:  50%;
      }
    }
  }
  .show{
    opacity: 1;
    transition: 0.5s;
  }

    &__box{
      width: 60%;
      margin:0 auto;
      padding: 70px 0;

        ul.title-box{
          display: flex;
          height: 30px;

          li{
            width: 100px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
          }
          .title{
            margin: 0 20px;

          }
        }

        &__table{
          height: calc( 100vh - 340px );
          overflow-y: scroll;

            .list{
              display: flex;
              margin: 10px 0;
    
                .button{
                  margin: 25px 10px;
                  width: 80px;
                  @include btn;
                  font-weight: normal;
                }
                .button:hover{
                  @include btn_hover;
                }
                ul{
                  display: flex;
                  li{
                    width: 100px;
                    line-height: 100px;
                    text-align: center;
                    margin: 0 20px;
                  }
                }
            }
        }
    }

    &__new{
      width: 30%;
      padding: 70px 0;

      label{
        width: calc( 300px + 6px );
        cursor: pointer;
        .image{
          height: 300px;
          width: 300px;
          border: 3px solid whitesmoke;
          line-height: 300px;
          text-align: center;
          color: lightgray;
          font-size: 1.5rem;
          font-weight: bold;
        }
        #product_image{
          display: none;
        }
      }


      .input{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &__title{
          font-size: 1.3rem;
          font-weight: bold;
        }
        input{
          width: 150px;
          border: 1px solid lightgray;
        }
        textarea{
          width: 150px;
          height: 50px;
          border: 1px solid lightgray;
        }
      }

      .submit{
        margin-top: 100px;
        width: calc( 300px + 6px );
        @include btn;
      }
      .submit:hover{
        @include btn_hover;
      }
    }
}