.pconsole, .uconsole{
    @include content_height;
    display: flex;
  
    &__box{
      width: 80%;
      max-width: 800px;
      margin:0 auto;
      padding: 70px 0;

        ul.title-box{
          display: flex;
          justify-content: space-between;
          height: 30px;

          li{
            min-width: 40px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 20px;
          }
        }

        &__table{
          height: calc( 100vh - 340px );
          overflow-y: scroll;

            ul{
                display: flex;
                margin: 10px 0;
      
                li{
                  width: 100px;
                  line-height: 100px;
                  text-align: center;
                  margin: 0 20px;
                }
                .button{
                  margin: 25px 10px;
                  width: 80px;
                  font-weight: normal;
                  @include btn;
                }
                .button:hover{
                  @include btn_hover;
                }
            }
        }
    }

    &__new{
      width: 30%;
      padding: 70px 0;

      label{
        width: calc( 300px + 6px );
        cursor: pointer;
        .image{
          height: 300px;
          width: 300px;
          border: 3px solid whitesmoke;
          line-height: 300px;
          text-align: center;
          color: lightgray;
          font-size: 1.5rem;
          font-weight: bold;
        }
        #product_image{
          display: none;
        }
      }


      .input{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &__title{
          font-size: 1.3rem;
          font-weight: bold;
        }
        input{
          width: 150px;
          border: 1px solid lightgray;
        }
        textarea{
          width: 150px;
          height: 50px;
          border: 1px solid lightgray;
        }
      }

      .submit{
        margin-top: 100px;
        width: calc( 300px + 6px );
        @include btn;
      }
      .submit:hover{
        @include btn_hover;
      }
    }
}