.products{
    @include content_width;
    @include content_height;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    &__shelf{
        align-items: center;
        width: 100%;
        height: 25%;
        a{
            display: inline-block;
            width: 30%;
            max-width: 150px;

            img{
                width: 100%;
            }
        }
        a:hover{
            margin-top: -3px;
            transition: 0.1s;
            box-shadow: 10px 15px 20px #888888;
        }
    }
}


.pagination{
    margin: 0 auto;
    width: 400px;
    height: 50px;
    text-align: center;

    span{
        margin: 0 5px;
    }
    .page{
        a{
            display: inline-block;
            width: 25px;
            height: 25px;
            padding: 4px 0px 0px;
            border: 1px solid $black;
            color: $black;
        }
    }
    .current{
        padding: 5px 9px;
        display: inline-block;
        color: white;
        background-color: $black;
        font-weight: bold;
    }
    .first, .prev, .next, .last{
        a{
            color:$black;
        }
    }
}

.blank{
    height: 50px;
}