.editEmail
  ここに新しいemailを入力してください。
  = form_with model: current_user, url: user_registration_path do |f|
    .field-label
      = f.label :email
    .field-input
      = f.email_field :email, autofocus: true
    .actions
      = f.submit "edit email"