.editEmail
  .editEmail__box
    .editEmail__box--title
      Edit Email

    = form_with model: current_user, url: user_registration_path do |f|
      .single
        = f.text_field :nickname
      .single
        = f.email_field :email
      .button
        = f.submit "EDIT EMAIL"