.cart{
    @include content_height;
    display: flex;
    position: relative;

    &__products{
        width: 60%;
        padding: 50px;
        z-index: 1;

        &__header{
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          padding-bottom: 30px;
          border-bottom: 2px solid lightgray;
        }

        &__title{
          display: flex;
          justify-content: space-between;
          padding: 30px 50px 5px 0px;
          font-size: 1.5rem;
          
          &--detail{
            width: 40%;
            text-align: center;
          }
        }
        
        &__list{
          overflow-y: scroll;
          height: calc( 100vh - 180px - 230px );
          padding: 0 10px;

          .no-item{
            text-align: center;
            margin: 200px;
            font-size: 2rem;
            font-weight: bold;
          }
          &--card{
              width: 100%;
              margin: 3rem 0 ;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
              box-shadow: 5px 5px 10px $shadow;
              position: relative;
  
              .detail{
                width: 40%;
                display: flex;
                img{
                  border-right: 5px solid whitesmoke;
                  width: 150px;
                }
                &__info{
                  margin-left: 2rem;
                  &--name{
                    font-weight: bold;
                    font-size: 1.5rem;
                    width: 10rem;
                    height: 70px;
                    line-height: 70px;
                  }
                  &--detail{
                    height: 80px;
                    display: flex;
                    align-items: center;
                    width: 100px;
                    overflow: hidden;
                  }
                }
              }

              .quantity{
                display: flex;
                align-items: center;
                &__plus, &__minus{
                  font-size: 1.5rem;
                  padding: 10px;
                  cursor: pointer;
                }
                &__value{
                  font-size: 1.5rem;
                }
              }
              .price, .total-price{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                white-space: nowrap;
              }
              .drop{
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                i{
                  font-weight: bold;
                  font-size: 2rem;
                  padding: 10px;
                  color:$black;
                }
              }
          }
        }

        .confirmation{
          box-shadow: none;
          border: 5px solid whitesmoke;
        }
      }
    &__summary{
      width: 40%;
      padding: 50px;
      background-color: whitesmoke;
      z-index: 1;

      &__header{
        padding-bottom: 30px;
        border-bottom: 2px solid lightgray;
        .title{
          font-size: 2rem;
          font-weight: bold;
        }
      }

      &__content{
        position: relative;
        height: calc( 100vh - 180px - 190px);
        .block{
          margin-top: 30px;
          font-size: 1.2rem;
          .quantity, .total_price{
            font-size: 1.5rem;
          }
        }
        .title{
          font-size: 1.5rem;
          font-weight: bold;
        }
        .shipping{
          select{
            width: 100%;
            padding: 10px;
            border: 1px;
            margin-top: 10px;
          }
        }
        .bottom{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }

      &__btn{
        width: 100%;
        @include btn;
      }
      &__btn:hover{
        @include btn_hover;
      }
    }
}