.uconsole

  .uconsole__title
    .users__number
      = @users.length
      users

  .uconsole__box
    
    - @users.each do |user|
      - if user.admin
        .user.red
          = render user

      - elsif user.member
        .user.green
          = render user

      - else 
        .user
          = render user

    - if @users.length % 3 == 2
      .blank-card