.mypage{
  width: 100%;
  margin: 50px 0;

  &__box{
    width: 500px;
    margin: 0 auto;

    &--title{
      font-size: 3rem;
      margin-bottom: 30px;
    }

    &__info{
      display: flex;
      margin-bottom: 25px;

      &--title{
        font-weight: 600;
        font-size: 1.2rem;
        width: 300px;
      }

      &--content{
        .card{
          margin-top: -5px;
          margin-bottom: 5px;
        }
      }
    }

    .edit{
      margin-bottom: 100px;
      a{
        text-decoration: none;
        
        .button{
          width: 500px;
          height: 50px;
          background-color: #1a1a1a;
          color: white;
          text-align: center;
          line-height: 50px;
          letter-spacing: 0.3rem;
        }
      }
    }
  }
}