.mypage{
  width: 100%;
  padding: 50px 0;
  @include content_height;
  overflow-y: scroll;
  position: relative;

  &__box{
    width: 500px;
    margin: 0 auto;

    &--title{
      font-size: 3rem;
      margin-bottom: 30px;
    }

    &__info{
      display: flex;
      margin-bottom: 25px;

      &--title{
        font-weight: 600;
        font-size: 1.2rem;
        width: 300px;
      }

      &--content{
        .card{
          margin-top: -5px;
          margin-bottom: 5px;
        }
      }
    }

    .edit{
      margin-bottom: 100px;
      a{
        .button{
          width: 500px;
          @include btn;
        }
        .button:hover{
          @include btn_hover;
        }
      }
    }
  }
}