.products
  - @products.each_with_index do |product, index|
    .products__card{class: "#{'negative-margin' if index > 2}" }
      = link_to product_path(product) do
        = image_tag product.image.variant(resize:'170x170')

-# = link_to new_product_path do
-#   %div 管理者用商品出品ページ
-# = link_to carts_path do
-#   買い物カゴへ
-# .sign_up
-#   = link_to users_select_path do
-#     sign_up

-# .sign_out
-#   = link_to destroy_user_session_path, method: :delete do
-#     sign_out

-# - if user_signed_in?
-#   = "現在ログインしているユーザは#{current_user.email}です。"
-#   .mypage
-#     = link_to user_path(current_user) do
-#       mypage
-# - else
-#   現在は未ログイン状態です。
